.main_wrapper {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0px 101px 0px 101px;
  .category_list {
    display: flex;
    gap: 16px;
    div {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19.2px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      padding: 0px 16px;
      a {
        text-decoration: none !important;
      }
    }
    .active {
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      border-bottom: 2px solid #5ece7b !important;
      a {
        text-decoration: none !important;
        color: #5ece7b !important;
      }
    }
  }
  .icon {
    width: 31.18px;
    height: 28.62px;
    margin: auto;
  }
  .currency_switcher_and_cart {
    display: flex;
    align-items: center;
    font-size: 18px !important;
    gap: 22px;
    .currency_switcher {
      display: flex;
      gap: 10px;
      cursor: pointer;
      .dollar_sign_icon {
        font-size: 18px !important;
      }
      .arrow_up_icon {
      }
    }
    .cart {
      position: relative;
      cursor: pointer;
      .cart_icon {
        font-size: 20px;
        z-index: 1;
        color: #43464e;
      }
      .cart_items_counter {
        width: 20px;
        height: 20px;
        background-color: #1d1f22;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        left: 60%;
        bottom: 30%;
      }
    }
  }
}
